body {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  width: 60px;
}

.list-items {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.list-items > li {
  padding: 10px;
}
