.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #21222a;
  padding: 3px 20px;
  height: 80px;
}

.react-logo {
  display: flex;
}

.title {
  margin: 0 0 0 7px;
  color: #61dafb;
}

.desc {
  color: white;
  font-weight: 400;
  margin: 0;
}
